<div class="container">
  <legend>Add Book</legend>
  <div class="mb-3">
    <label for="author" class="form-label"></label>
    <input
      type="text"
      name="author"
      id="author"
      class="form-control"
      [(ngModel)]="formBook.author"
    />
  </div>
  <div class="mb-3">
    <label for="title" class="form-label"></label>
    <input
      type="text"
      name="title"
      id="title"
      class="form-control"
      [(ngModel)]="formBook.title"
    />
  </div>
  <div class="mb-3">
    <label for="price" class="form-label"></label>
    <input
      type="text"
      name="price"
      id="price"
      class="form-control"
      [(ngModel)]="formBook.price"
    />
  </div>
  <button type="button" class="btn btn-dark" (click)="save()">Create</button>
</div>
